

@mixin placeholder-color($color) {
  ::-webkit-input-placeholder {
     color: $color;
  }

  :-moz-placeholder { /* Firefox 18- */
     color: $color;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
     color: $color;
  }

  :-ms-input-placeholder {  
     color: $color;
  }
}

.login {
  $login-width: 413px;
  $login-height: 67px;
  $login-caption-font-size: 65px;
  $login-color: #fe1107;
  $login-text-color: #fdfbfa;
  $login-placeholder-color: #fdfbfa;

  width: $login-width;

  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);

  .login__caption {
    display:block;
    width: $login-width;
    box-sizing: border-box;
    height: $login-height;
    // line-height: $login-height;
    // text-align: center;
    // font-size: $login-caption-font-size;
    // font-weight: bold;
    // color:  #fe1107;
    // font-family: CooperBlack;
    // font-family:"source-serif-pro";
    background-image: url("/images/verbivore.png");
    background-repeat: no-repeat;
    background-position: center; 
  }

  .login__user {
    display:block;
    width: $login-width;
    height: $login-height;
    box-sizing: border-box;
    background-color: $login-color;
    font-size: 30px;
    color: $login-text-color;
    @include placeholder-color($login-placeholder-color);
  }

  .login__password {
    display:block;
    width: $login-width;
    height: $login-height;
    box-sizing: border-box;
  }

  .login__details {

  }
  .login__submit {
    display:block;
    width: $login-width;
    height: $login-height;
    box-sizing: border-box;
    -webkit-appearance: none;

  }
}