@import "compass/css3";


.login {
  $login-width: 413px;
  $login-height: 67px;
  $login-caption-font-size: 65px;
  $login-color: #fe1107;
  $login-text-color: #fdfbfa;
  $login-placeholder-color: #fdfbfa;
  $login-font-size: 30px;
  $login-text-padding: 15px;

  width: $login-width;

  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);

  @mixin login-input {
    @include input-placeholder {
        color: $login-placeholder-color;
        // font-style: italic;
      }

    padding-left: $login-text-padding;
    padding-right: $login-text-padding;
    padding-top: 0px;
    padding-bottom: 0px;
    
    width: $login-width;
    height: $login-height;
    box-sizing: border-box;
    background-color: $login-color;
    font-size: $login-font-size;
    color: $login-text-color;
  }

  .login__caption {
    display:block;
    width: $login-width;
    box-sizing: border-box;
    height: $login-height;
    // line-height: $login-height;
    // text-align: center;
    // font-size: $login-caption-font-size;
    // font-weight: bold;
    // color:  #fe1107;
    // font-family: CooperBlack;
    // font-family:"source-serif-pro";
    background-image: url("/images/verbivore.png");
    background-repeat: no-repeat;
    background-position: center; 
  }

  .login__user {
    display:block;
    @include login-input;
  }

  .login__password {
    display:block;
    width: $login-width;
    height: $login-height;
    box-sizing: border-box;
  }

  .login__details {

  }
  .login__submit {
    display:block;
    width: $login-width;
    height: $login-height;
    box-sizing: border-box;
    -webkit-appearance: none;

  }
}